         html,
         body {
             font-family: Arial;
             color: white;
             height: 100%;
             width: 100%;
             margin: 0;
         }
         
         span {
             margin-left: 10px;
         }
         
         header {
             background: url("/Resources/pozadina2.jpg");
             width: 100%;
             height: 35%;
             background-position: top;
             background-repeat: no-repeat;
             background-size: 100% 100%;
         }
         
         header h1 {
             position: absolute;
             top: 5%;
             left: 50%;
             margin-left: -150px;
             text-transform: uppercase;
         }
         
         header h2 {
             position: absolute;
             top: 15%;
             left: 55%;
             margin-left: -150px;
         }
         
         footer {
             position: fixed;
             /*position:relative - overlapping content*/
             bottom: 0;
             width: 100%;
             height: 80px;
             background: rgb(29, 28, 28);
             display: flex;
             align-items: center;
             padding: 0;
             bottom: 0;
             /*padding: 1em 1.5em;*/
         }
         
         footer * {
             margin-right: 15px;
         }
         
         footer a.button {
             border-radius: 12px;
             border: none;
             outline: none;
         }
         
         footer a.button:hover {
             box-shadow: 5px 10px #888888;
         }
         
         footer a.button:active {
             box-shadow: 0 5px #666;
             transform: translateY(4px);
         }
         
         footer a img {
             height: 40px;
             width: 40px;
             border-radius: 12px;
             object-fit: cover;
             display: inline-block;
             padding: 0;
             margin: 0;
         }

         .skill-section{
            display: grid;
            grid-template-columns: 100%;
            row-gap: 1em;

         }

         .skill-section .skill-type {
             margin-left: 15px;
             font-size: 25px;
             font-weight: bold;
            color: black;

         }

         .skill-section .skill-name {
            font-size: 18px;
            text-transform: uppercase;
            color: white;

        }
        
        .skill-section .skill-lvl {
            font-size: 14px;
            color: white;
        }

         .scrolling-wrapper {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            justify-content: space-evenly;
        }

          .scrolling-wrapper .card {
            flex: 0 0 auto;
            background-color: #000000;
            border-radius: 25px;
            padding: 1%;
            margin: 1%;
          }
        
   